openapi: 3.0.0
servers:
  - url: 'https://homolog.rnge.com.br:8091/v2'
    description: Homologação
  - url: 'https://rnge.com.br:8091/v2'
    description: Produção
tags:
  - name: Login
    description: Login
  - name: Produtos
    description: Produtos
  - name: Pedidos
    description: Pedidos
  - name: PDV
    description: Equipamento PDV
  - name: Distribuição
    description: Distribuição
info:
  description: |
    Esta API utiliza o padrão REST e autenticação HTTP AuthBasic (RFC 7617) em todos os recursos. O formato padrão de requisição e resposta é o JSON na maioria dos recursos; as exceções são os que trabalham com Notas Fiscais (XML) ou documentos para impressão (PDF).

    ## Autenticação

    Conforme a RFC 7617 [1], o cabeçalho *Authorization* é composto da palavra `Basic` seguida de um espaço e da string `username:password` codificada em base64.

    [1] RFC 7617, capítulo 2, em https://datatracker.ietf.org/doc/html/rfc7617#page-5

    Utilizamos essa autenticação de duas formas:
    - No `POST /login`, username = `usuario@tenant` e password = `senha`
    - Demais recursos, username = `user_id` e password = `token` (obtidos no login)

    Conforme a RFC 7617, o próprio aplicativo cliente deve se encarregar de fazer essa conversão.

    ## Definições

    **Tenant\:** Conta do cliente na Rednaxel. O tenant pode ter uma ou empresas que podem ser filiais (mesma raiz de CNPJ) ou não.

    **Usuário\:** Cada usuário pertence a um tenant e tem um `user_id` global e um `nome_usuario` único dentro do tenant.

    ## Padrões

    Todos os GET usam os parâmetros "filter", "sort" e "range" da seguinte forma:

     | Parâmetro  | Formato | URL Query                              | SQL equivalente       |
     |------------|---------|----------------------------------------|-----------------------|
     | filter     |   JSON  | GET v2/resources?filter={"store":34}   | ... WHERE store = 34  |
     | sort       |  CSV    | GET v2/resources?sort=\["name","ASC"\] | ... ORDER BY name asc |
     | range      |  CSV    | GET v2/resources?range=\[0,9\]         | ... OFFSET 0 LIMIT 10 |
  version: 2.0.0
  title: API do RNGE 4
  termsOfService: 'https://rednaxel.com/termos-de-uso'
  contact:
    name: Suporte
    email: suporte@rednaxel.com
    url: 'https://suporte.rednaxel.com'
  x-logo:
    url: 'https://storage.googleapis.com/rednaxel-dados/rednaxel-264.png'
    altText: Logo da Rednaxel
paths:
  /login:
    parameters: []
    post:
      summary: Efetuando login
      operationId: post-login
      responses:
        '200':
          description: Os campos `user_id` e `token` devem ser usados nas chamadas seguintes.
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: 1561144325
                    user_id: 10023
                    token: 89a1e75e-87da-400a-9899-7ca1a170667c
                    logo_color: '#404040'
                    font_color: '#FFFFFF'
                    homologacao: true
                properties:
                  id:
                    type: number
                    description: ID do login
                  user_id:
                    type: number
                    description: ID do Usuário
                  token:
                    type: string
                    description: Token de acesso
                  logo_color:
                    type: string
                    description: Cor de fundo (frontend)
                  font_color:
                    type: string
                    description: Cor da letra (frontend)
                  homologacao:
                    type: boolean
                    description: Servidor de homologação ou produção?
                required:
                  - user_id
                  - token
      parameters: []
      description: |
        Efetua o login com `usuario@tenant` e `senha` para obter UserID e Token. Se o `id_empresa` não for informado o login será feito na *empresa padrão* do usuário. 
      security:
        - Usuário/Senha: []
      tags:
        - Login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                end_ip:
                  type: string
                  description: IP interno para suporte
                id_empresa:
                  description: ID da empresa onde será feito o login
                  type: integer
  '/tokens/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Informações do token
      tags:
        - Login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: 1564931602
                    user_id: 10023
                    nome_razao: Alexsander Da Rosa
                    loja: 10
                    nome_loja: ADMINISTRATIVO
                    id_predio: 13
                    nome_usuario: ALEXSANDER
                    conta: cdp
                    url_logo: 'https://storage.googleapis.com/rednaxel-fotos/cdp/logo/web.png'
                    user_email: alexsander.rosa@gmail.com
                    picture_url: 'https://lh6.googleusercontent.com/-1_ZMsIBah1w/AAAAAAAAAAI/AAAAAAAAkkk/0C-voD9hwsk/photo.jpg'
                    ip_externo: 177.101.216.158
                    versao: (Linux 64) Chrome/92
                    ult_oper: '2021-08-19T18:25:30-03:00'
                    cmun: 4314902
                    nome_municipio: Porto Alegre
                    uf: RS
                properties:
                  id:
                    type: integer
                  user_id:
                    type: integer
                  nome_usuario:
                    type: string
                    description: Nome do usuário logado
                  user_email:
                    type: string
                    description: Email do usuário logado
                  picture_url:
                    type: string
                    description: URL da foto do usuário logado
                  loja:
                    description: ID da empresa onde foi efetuado o login
                    type: integer
                  nome_razao:
                    type: string
                    description: Nome/Razão Social da empresa onde foi efetuado o login
                  nome_loja:
                    type: string
                    description: Nome reduzido da empresa onde foi efetuado o login
                  id_predio:
                    type: integer
                    description: ID do prédio da empresa logada
                  cmun:
                    type: integer
                    description: Código do município (IBGE) da sede da empresa logada
                  uf:
                    type: string
                    description: UF (estado) da sede da empresa logada
                  nome_municipio:
                    type: string
                    description: Nome do município da sede da empresa logada
                  conta:
                    type: string
                    description: Conta (tenant) do usuário
                  url_logo:
                    type: string
                    description: URL do logotipo do tenant
                  ip_externo:
                    type: string
                    description: IP de onde foi efetuado o login
                  versao:
                    type: string
                    description: Versão do navegador (ou outro app frontend)
                  ult_oper:
                    type: string
                    description: Data/hora da última requisição
      operationId: get-tokens-id
      description: Obtém informações do login atual
  /ping:
    get:
      summary: Verificando servidor
      tags:
        - Login
      operationId: get-ping
      description: Verifica se o servidor está online
      security: []
      responses:
        '200':
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    resp: OK
                properties:
                  resp:
                    type: string
                    minLength: 1
                    description: Resposta (OK)
                required:
                  - resp
              examples:
                JSON:
                  value:
                    resp: OK
    parameters: []
  /cashiers:
    get:
      tags:
        - PDV
      summary: Listando PDVs
      description: Lista de Equipamentos PDV de todas as lojas (companies) do tenant
      parameters:
        - name: filter
          in: query
          description: Filters for the query
          schema:
            type: string
        - name: range
          in: query
          description: Paging
          schema:
            type: array
            items:
              type: integer
        - schema:
            type: string
            default: Basic MTIzNDp1dWlkLXRva2Vu
          in: header
          name: Authorization
          required: true
          description: 'ID:TOKEN'
      operationId: get-cashiers
      responses:
        '200':
          description: OK
    post:
      tags:
        - PDV
      summary: Criando PDV
      description: Cria novo PDV
      operationId: post-cashiers
      responses:
        '200':
          description: OK
    parameters: []
  '/cashiers/{id}':
    get:
      tags:
        - PDV
      summary: Consultando um PDV
      description: Consulta PDV
      parameters:
        - schema:
            type: string
            default: Basic MTIzNDp1dWlkLXRva2Vu
          in: header
          description: 'ID:TOKEN'
          required: true
          name: Authorization
      operationId: getone-cashiers
      responses:
        '200':
          description: OK
    put:
      tags:
        - PDV
      summary: Atualizando um PDV
      description: Atualiza um PDV
      responses:
        '200':
          description: Success!
        '400':
          description: Error
      operationId: put-cashiers
    delete:
      tags:
        - PDV
      summary: Deletando um PDV
      description: Deleta um PDV
      responses:
        '200':
          description: Info about deleted POS
        '400':
          description: Error
      operationId: delete-cashiers
    parameters:
      - schema:
          type: integer
          minimum: 1
          default: 1
        name: id
        in: path
        required: true
        description: ID do PDV
  /orders:
    get:
      tags:
        - Pedidos
      summary: Listando pedidos
      description: Lista de pedidos
      parameters:
        - name: filter
          in: query
          description: |
            - ids_empresas: `integer[]`
            - id_destino: `integer`
            - meus_pedidos: `boolean`
            - dias: `integer`
          schema:
            type: object
        - name: range
          in: query
          description: Paginação
          schema:
            type: array
      operationId: get-orders
      responses:
        '200':
          description: OK
    post:
      tags:
        - Pedidos
      summary: Criando um novo pedido
      description: Cria um novo pedido
      operationId: post-orders
      responses:
        '200':
          description: OK
    parameters: []
  '/orders/{id}':
    put:
      tags:
        - Pedidos
      summary: Atualizando um pedido
      description: Atualiza pedido
      operationId: put-orders
      responses:
        '200':
          description: OK
    get:
      tags:
        - Pedidos
      summary: Consultando um pedido
      description: Consulta pedido
      operationId: getone-orders
      responses:
        '200':
          description: OK
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: Número do Pedido
  /distributions:
    get:
      summary: Listando distribuições
      tags:
        - Distribuição
      operationId: get-distributions
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
            examples: {}
      description: Distribuição
      parameters:
        - schema:
            type: string
          in: query
          name: filter
        - schema:
            type: array
          in: query
          name: range
        - schema:
            type: array
          in: query
          name: sort
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: 1684
                    tipo: NORMAL
                    datahora_geracao: '2021-08-10T07:29:49-03:00'
                    rnx_tenant_fk: 5563868
                    id_predio: 5
                    desc_predio: VOLUNTARIOS
                    user_id: 23315
                    nome_usuario: WAGNERF
                    conclusao: 1
                    params_usados:
                      pedido: 660942
                      dias_suprimento: 30
                      itens_por_pedido: 50
                      sempre_fracionar: true
                      indice_suprimento: 20
                      crescimento_padrao: 1
                      distrib_dias_faixa: 5
                      distrib_mos_maximo: 0.5
                      max_linhas_empresa: 15000
                      distrib_curva_minima: 7
                      faixa_maxima_sazonal: 2
                      distrib_reversa_empresas:
                        - 33
                    info_suprimento:
                      linhas: 14
                      pedidos: 10
                      emitidos: 10
                      transito: 0
                      cancelada: true
                      cont_disp: 6
                      cont_skus: 6
                      pendentes: 0
                      cancelados: 0
                      soma_sugest: 14
                      falta_entregar: 1
                      notas_entregues: 7
                    ativo: false
                    status: 2050
                    sigla_status: DISTRIB COM PEDIDOS
                    lista_params:
                      - key: crescimento_padrao
                        value: '1.00'
                      - key: dias_suprimento
                        value: '30'
                      - key: distrib_curva_minima
                        value: '7'
                      - key: distrib_dias_faixa
                        value: '5'
                      - key: distrib_mos_maximo
                        value: '0.50'
                      - key: distrib_reversa_empresas
                        value: '[33]'
                      - key: faixa_maxima_sazonal
                        value: '2'
                      - key: indice_suprimento
                        value: '20'
                      - key: itens_por_pedido
                        value: '50'
                      - key: max_linhas_empresa
                        value: '15000'
                      - key: pedido
                        value: '660942'
                      - key: sempre_fracionar
                        value: 'true'
                properties:
                  id:
                    type: number
                  tipo:
                    type: string
                    minLength: 1
                    description: 'Tipo da distribuição: NORMAL, REVFND (Reversa Falta no Destino), REVSNO (Reversa Sobra na Origem), etc'
                  datahora_geracao:
                    type: string
                    minLength: 1
                  id_predio:
                    type: number
                    description: Prédio de origem
                  desc_predio:
                    type: string
                    minLength: 1
                  user_id:
                    type: number
                  nome_usuario:
                    type: string
                    minLength: 1
                  conclusao:
                    type: number
                    description: Percentual de conclusão
                  params_usados:
                    type: object
                    required:
                      - pedido
                      - dias_suprimento
                      - itens_por_pedido
                      - sempre_fracionar
                      - indice_suprimento
                      - crescimento_padrao
                      - distrib_dias_faixa
                      - distrib_mos_maximo
                      - max_linhas_empresa
                      - distrib_curva_minima
                      - faixa_maxima_sazonal
                      - distrib_reversa_empresas
                    properties:
                      pedido:
                        type: number
                      dias_suprimento:
                        type: number
                      itens_por_pedido:
                        type: number
                      sempre_fracionar:
                        type: boolean
                      indice_suprimento:
                        type: number
                      crescimento_padrao:
                        type: number
                      distrib_dias_faixa:
                        type: number
                      distrib_mos_maximo:
                        type: number
                      max_linhas_empresa:
                        type: number
                      distrib_curva_minima:
                        type: number
                      faixa_maxima_sazonal:
                        type: number
                      distrib_reversa_empresas:
                        type: array
                        items:
                          type: object
                  info_suprimento:
                    type: object
                    required:
                      - linhas
                      - pedidos
                      - emitidos
                      - transito
                      - cancelada
                      - cont_disp
                      - cont_skus
                      - pendentes
                      - cancelados
                      - soma_sugest
                      - falta_entregar
                      - notas_entregues
                    properties:
                      linhas:
                        type: number
                      pedidos:
                        type: number
                      emitidos:
                        type: number
                      transito:
                        type: number
                      cancelada:
                        type: boolean
                      cont_disp:
                        type: number
                      cont_skus:
                        type: number
                      pendentes:
                        type: number
                      cancelados:
                        type: number
                      soma_sugest:
                        type: number
                      falta_entregar:
                        type: number
                      notas_entregues:
                        type: number
                  ativo:
                    type: boolean
                  status:
                    type: number
                  sigla_status:
                    type: string
                    minLength: 1
                  lista_params:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          minLength: 1
                        value:
                          type: string
                          minLength: 1
                      required:
                        - key
                        - value
                required:
                  - id
                  - tipo
                  - datahora_geracao
                  - id_predio
                  - desc_predio
                  - user_id
                  - nome_usuario
                  - conclusao
                  - params_usados
                  - info_suprimento
                  - ativo
                  - status
                  - sigla_status
                  - lista_params
    post:
      summary: Criando uma nova distribuição
      operationId: post-distributions
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                ids_empresas:
                  type: array
                  description: Lista de empresas destino
                  items: {}
                numero_pedido:
                  type: integer
                  description: Nº do pedido que contém os itens que serão enviados
                tipo_distrib:
                  type: string
                  enum:
                    - NORMAL
                    - ABLOJA
                    - REVFND
                    - REVSNO
                  description: 'Tipo de distribuição (padrão: NORMAL)'
                gerar_pedidos:
                  type: boolean
                  description: 'Se TRUE, gera os pedidos após criar a distribuição'
                predio:
                  type: integer
                  description: 'Prédio de origem (padrão: CD)'
                codigo_sku:
                  type: integer
                  description: Código de um SKU para testes
                curva_minima_geral:
                  type: integer
                  description: Somente produtos desta curva para cima serão enviados
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              type: object
              properties: {}
        description: ''
      parameters: []
      tags:
        - Distribuição
      description: Cria uma nova distribuição
      responses:
        '200':
          description: OK
    parameters: []
  /skus:
    get:
      summary: Listando produtos (SKUs)
      tags:
        - Produtos
      responses: {}
      operationId: get-skus
      parameters:
        - schema:
            type: string
          in: query
          name: filter
        - schema:
            type: string
          in: query
          name: range
          required: true
        - schema:
            type: string
          in: query
          name: sort
      description: "Filtros disponíveis\n- id            []int64 \n- codigo\t      int64   \n- id_categ\t  int64   \n- inativos\t  bool    \n- ncm_vencido\t  bool    \n- q\t          string  \n- fornecedor\t  string  \n- numero_pedido int64   \n- barcode\t      int64   \n- id_grade\t  int64   "
    post:
      summary: Criando um produto (SKU)
      operationId: post-skus
      responses:
        '200':
          description: OK
      tags:
        - Produtos
    put:
      summary: Atualizando um produto (SKU)
      operationId: put-skus
      responses:
        '200':
          description: OK
      tags:
        - Produtos
    delete:
      summary: Excluindo um produto (SKU)
      operationId: delete-skus
      responses:
        '200':
          description: OK
      tags:
        - Produtos
components:
  securitySchemes:
    Usuário/Senha:
      type: http
      scheme: basic
      description: 'Usuário, Conta(tenant) e senha, ex: admin@zezinho:zeus'
    ID/Token:
      type: http
      scheme: basic
      description: 'ID do usuário e token, ex: 12345:89a1e75e-87da'
security:
  - ID/Token: []
