openapi: 3.0.0
x-stoplight:
  id: jwjqtzjp7hhvw
info:
  license:
    name: Copyright (C) Rednaxel Informática
    url: 'https://rednaxel.com'
  description: |
    Utilizamos o **Authorization** de duas formas:
    - No `POST /login`, **Basic** com username = `usuario@tenant` e password = `senha`
    - Nos demais recursos utilizar **Bearer** `token` (obtido no login)

    ## Definições

    **Tenant\:** Conta do cliente na Rednaxel. O tenant pode ter uma ou empresas que podem ser filiais (mesma raiz de CNPJ) ou não.

    **Usuário\:** Cada usuário pertence a um tenant e tem um `user_id` global e um `nome_usuario` único dentro do tenant.

    ## Padrões

    Todos os GET usam os parâmetros "filter", "sort" e "range" da seguinte forma:

     | Parâmetro  | Formato | URL Query                              | SQL equivalente       |
     |------------|---------|----------------------------------------|-----------------------|
     | filter     |  JSON   | GET v2/resources?filter={"store":34}   | ... WHERE store = 34  |
     | sort       |  CSV    | GET v2/resources?sort=\["name","ASC"\] | ... ORDER BY name asc |
     | range      |  CSV    | GET v2/resources?range=\[0,9\]         | ... OFFSET 0 LIMIT 10 |


    Esta API utiliza o padrão REST e autenticação HTTP Bearer (RFC 6750) em todos os recursos, exceto no login, que usa AuthBasic (RFC 7617). O formato padrão de requisição e resposta é o JSON na maioria dos recursos; as exceções são os que trabalham com Notas Fiscais (XML) ou documentos para impressão (PDF). Cuidado com a paginação: quando o `range` não for informado a API utilizará o padrão [0,99].
  version: 2.0.0
  title: API do RNGE 4
  termsOfService: 'https://rednaxel.com/termos-de-uso'
  contact:
    name: Suporte
    email: suporte@rednaxel.com
    url: 'https://suporte.rednaxel.com'
  x-logo:
    url: 'https://storage.googleapis.com/rednaxel-dados/rednaxel-264.png'
    altText: Logo da Rednaxel
servers:
  - url: 'https://homolog.rnge.com.br/v2'
    description: Homologação
  - url: 'https://rnge.com.br/v2'
    description: Produção
tags:
  - name: Baixar XML (filedownloads)
    description: Baixar NF de fornecedor e/ou Nota XML emitido
  - name: Certificados (certificates)
    description: Certificados Digitais (A1)
  - name: Emissão de NFe/NFCe (nfes)
    description: Emissão de NFe/NFCe
  - name: Empresas (companies)
    description: Cadastro de Empresas
  - name: Login na API (login)
    description: Login na API
  - name: Notas/Cupons Fiscais (invoices)
    description: Notas e Cupons Fiscais (NFe/NFCe)

paths:


  /certificates:
    get:
      summary: Listagem de certificados
      tags:
        - Certificados (certificates)
      responses:
        '200':
          description: ''
      operationId: get-certificates
      x-stoplight:
        id: urfs75p9q2oey
      description: Certificados A1 (necessários para emissão de NFe/NFCe)
      parameters:
        - $ref: '#/components/parameters/Filter'
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Sort'
  '/certificates/{id}':
    parameters:
      - schema:
          type: integer
        name: id
        in: path
        required: true
        description: id do certificado
    put:
      summary: Upload de PFX
      tags:
        - Certificados (certificates)
      description: Upload de arquivo PFX (Certificado A1)
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/Certificate.yaml
      operationId: put-certificates-id


  '/companies/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: id da empresa
    get:
      summary: Consulta uma empresa
      tags:
        - Empresas (companies)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/Empresa.yaml
      operationId: get-companies-id
      description: Consulta uma empresa
    put:
      summary: Atualiza uma empresa
      operationId: put-companies-id
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              $ref: ../models/Empresa.yaml
        description: ''
      description: Atualiza uma empresa
      tags:
        - Empresas (companies)


  '/filedownloads/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Chave de acesso com os 44 dígitos
    get:
      summary: Download de um arquivo XML
      tags:
        - Baixar XML (filedownloads)
      responses:
        '200':
          description: |-
            XML
            <nfeProc versao="4.00"
            </infProt></protNFe></nfeProc>
          content:
            text/plain:
              schema:
                type: object
                properties:
                  xml:
                    type: string
                    x-stoplight:
                      id: 2w6lmy6tp6gbp
      operationId: get-filedownloads-id
      description: Download de um arquivo XML - Fornecedor ou Nota emitida


  /login:
    parameters: []
    post:
      summary: Efetuando login
      operationId: post-login
      responses:
        '200':
          description: Os campos `user_id` e `token` devem ser usados nas chamadas seguintes.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  id:
                    type: number
                    description: ID do login
                  user_id:
                    type: number
                    description: ID do Usuário
                  token:
                    type: string
                    description: Token de acesso
                  logo_color:
                    type: string
                    description: Cor de fundo (frontend)
                  font_color:
                    type: string
                    description: Cor da letra (frontend)
                  homologacao:
                    type: boolean
                    description: Servidor de homologação ou produção?
                required:
                  - user_id
                  - token
      parameters: []
      description: |
        Efetua o login com `usuario@tenant` e `senha` para obter UserID e Token. Se o `id_empresa` não for informado o login será feito na *empresa padrão* do usuário. 
      security:
        - Usuário/Senha: []
      tags:
        - Login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                end_ip:
                  type: string
                  description: IP interno para suporte
                id_empresa:
                  description: ID da empresa onde será feito o login
                  type: integer


  /invoices:
    post:
      summary: Criando Nota/Cupom Fiscal
      operationId: post-invoices
      responses:
        '200':
          description: OK
      tags:
        - Notas/Cupons Fiscais (invoices)
      parameters: []
      description: 'Envia o XML de uma NFe/NFCe '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                xml:
                  type: string
                  description: XML codificado em Base64
                  writeOnly: true
              required:
                - xml
    get:
      summary: Lista de NF/Cupons
      operationId: get-invoices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ../models/Invoice.yaml
      description: |-
        Lista de notas/cupons. O filtro "modelo" é obrigatório, caso não filtrar por "chnfe".
        Para listar os itens utilize o recurso GET v2/invoiceitems.

        ### Filtros disponíveis

         Campo | Tipo | Descrição |
        | ------ | ------ | ------ |
        | dataini | string | Formato: YYYY/MM/DD, se não informar busca a data atual. Data emissão | 
        | datafim | string | Formato: YYYY/MM/DD  | 
        | modelo | int | Ex.: 55 (NFe) ou 65 (NFCe), obrigatório se não filtrar por chnfe | 
        | id_empresa | int64 | se não informar o id_empresa usa a empresa logada | 
        | chnfe | string | Chave de acesso com os 44 caracteres | 
        | id_pessoa | int64 | ID da Pessoa |
        | idpessoa_razao_cpf_cnpj | string | Filtro tanto pelo nome, id, cpf ou cnpj da pessoa |
        | cnpj_alfa | string | CNPJ do Emitente |
        | cpf_cnpj | int64 | CPF |
        | numero_pedido | int64 | Número do pedido |
        | pdv | int64 | Número de série (pdv) |
        | id_romaneio | int64 | Número do Romaneio |
        | numero | int | Número da NF |
        | notas | string | NFs separados por vírgula |
        | ocultar_5929 | bool | Oculta notas CFOP 5929, modelo = 65 (NFCe) |
        | total_vnf | float64 | Valor exato do total da NF |
        | cupons_cancelados | bool | Filtra as notas canceladas |
        | vetor_pagtos | []int64 | Array dos tipos de pagamentos (TPAG) |
        | vetor_status | []int64 | Array dos status (Ex: [500, 590]) |
        | codigo_descricao | string | Tanto pelo código como pela descrição do produto  |
        | nome_usuario | string | Usuário do documento  |
        | tipo | string | Tipo Doc (Ex: V (Venda), D (Devolução Cliente), F (Devolução para Fornecedor), X (Cancelada), T (Transferência)) |
        | dias_alteracao | integer | Ex: 1 busca alterações do dia atual, 2 do dia atual e do dia anterior. Lembrar que o filtro modelo é obrigatório  |
        | ids_tags | []int64 | Tags dos Pedidos |
        | fiscdoc_id | int64 | ID da NF |
        | nfse | string | Nota de serviço |
        | codigo_nfse | string | Código NFSe |
        | id_abertura | int64 | ID da abertura do PDV |
        | tipo_oper | string | Tipo da Operação. EX: CONSUMO, DEVCLI, TRANSF, VENDAS, etc |

        *dataini - período acima de 60 dias pede a transação 3520- Cupons Notas 60 dias
      parameters:
        - $ref: '#/components/parameters/Filter'
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Sort'
      tags:
        - Notas/Cupons Fiscais (invoices)
  '/invoices/{chnfe}':
    parameters:
      - schema:
          type: string
        name: chnfe
        in: path
        required: true
        description: Chave de acesso (44 dígitos)
    get:
      summary: Consulta uma Nota/Cupom
      tags:
        - Notas/Cupons Fiscais (invoices)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../models/Invoice.yaml
      operationId: get-invoices-id
      description: |-
        Consulta uma NF/Cupom, colocando o conteúdo do arquivo XML no campo `arquivo_xml` do JSON. Para extrair somente o XML via curl, sugerimos usar o aplicativo "jq" na linha de comando:

        ```bash
        curl ... | jq --raw-output .arquivo_xml
        ```

        ### Filtros disponíveis

         Campo | Tipo | Descrição |
        | ------ | ------ | ------ |
        | dataini | string | Formato: YYYY/MM/DD, se não informar busca a data atual. Data emissão | 
        | datafim | string | Formato: YYYY/MM/DD  | 
        | modelo | int | Ex.: 55 (NFe) ou 65 (NFCe), obrigatório se não filtrar por chnfe | 
        | id_empresa | int64 | se não informar o id_empresa usa a empresa logada | 
        | chnfe | string | Chave de acesso com os 44 caracteres | 
        | id_pessoa | int64 | ID da Pessoa |
        | idpessoa_razao_cpf_cnpj | string | Filtro tanto pelo nome, id, cpf ou cnpj da pessoa |
        | cnpj_emit | int64 | CNPJ do Emitente |
        | cpf_cnpj | int64 | CPF ou CNPJ |
        | numero_pedido | int64 | Número do pedido |
        | pdv | int64 | Número de série (pdv) |
        | id_romaneio | int64 | Número do Romaneio |
        | numero | int | Número da NF |
        | notas | string | NFs separados por vírgula |
        | ocultar_5929 | bool | Oculta notas CFOP 5929, modelo = 65 (NFCe) |
        | total_vnf | float64 | Valor exato do total da NF |
        | cupons_cancelados | bool | Filtra as notas canceladas |
        | vetor_pagtos | []int64 | Array dos tipos de pagamentos (TPAG) |
        | vetor_status | []int64 | Array dos status (Ex: [500, 590]) |
        | codigo_descricao | string | Tanto pelo código como pela descrição do produto  |
        | nome_usuario | string | Usuário do documento  |
        | tipo | string | Tipo Doc (Ex: V (Venda), D (Devolução Cliente), F (Devolução para Fornecedor), X (Cancelada), T (Transferência)) |
        | dias_alteracao | integer | Ex: 1 busca alterações do dia atual, 2 do dia atual e do dia anterior. Lembrar que o filtro modelo é obrigatório  |

        *dataini - período acima de 60 dias pede a transação 3520- Cupons Notas 60 dias
      parameters:
        - in: query
          name: filter
          description: Filtros
          required: true
          schema:
            default: '{"chnfe":"99999999999999999999999999999999999999999999", "modelo":55}'
        - $ref: '#/components/parameters/Range'
        - $ref: '#/components/parameters/Sort'
      x-stoplight:
        id: n5pjq9nvfqm51


components:
  schemas: {}
  parameters:
    Filter:
      name: filter
      in: query
      required: false
      schema:
        type: string
      description: Filtros
    Range:
      name: range
      in: query
      schema:
        minItems: 1
        maxItems: 2
        items:
          type: integer
          format: int32
        default: '[0,99]'
        example: '[0,99]'
      description: Paginação
      explode: true
      style: form
      required: true
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            desc:
              type: string
      description: Ordenação
  securitySchemes:
    Usuário/Senha:
      type: http
      scheme: basic
      description: 'Usuário, Conta(tenant) e senha, ex: admin@zezinho:zeus'
    Token de acesso:
      type: http
      scheme: bearer
      description: ''
security:
  - Token de acesso: []
